

.mycarousel{
    margin-bottom: 50px;
    margin-top: 70px;
}
.bg-color{
    background-color: #FEEAE9;
    border-radius: 10px;
}

.buy-btn{
    border: none;
    background-color: orangered;
    padding: 5px 7px;
    color: white;
    border-radius: 5px;
}

.price{
    color: orangered;
}

.bg-color img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 350px;
}